@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Popins", sans-serif;
}
/* todas as paginas ***************************************/
.full-screen {
  width: 100vw;
  height: 100vh;
}

/* pagina home / parceiros ********************************/
.box-fullContent {
  box-sizing: border-box;
  display: flex;
}
.box-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}
.box-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.flexHome-main {
  width: 100%;
  box-sizing: border-box;
}

/*  pagina parceiros ***********************************/
#box {
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 6px 8px;
}
#box:hover{
  transition: transform 0.9s ease-in-out;
}
#box:hover{
  transform: scale(1.2);
  z-index: 10;
  transition: 1.2s;
}
.select_parceiro{
  text-decoration: none; 
  color: black;
}

#descricao {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: white;
}
/* pagina login / cadastro *****************************/
.login-cadastro {
  display: flex;
  width: 100vw;
}
.login_e_cadastro {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 1.2em;
    color: #3c3c3c;
  }
}

/* pagina de login *************************************/
.box-cadastre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
}
#txtcadastro {
  font-size: 15px;
  display: inline-block;
  align-content: center;
}
/* pagina cadastro **************************************/
#box-cadastro {
  height: 460px;
  width: 350px;
  border-radius: 10px;
  padding-left: 50px;
  font-size: 14px;
}

/* rodape ***********************************************/
footer {
  display: flex;
  background-color: #48e5c2;
  height: 100px;
  width: 100vw;
  bottom: 0;
  & p{
    margin: auto;
  }
}

/* boddy ************************************************/
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #11a686;
}

/* Pagina home / parceiros ******************************************/
.box-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 550px;
  margin-top: 50px;
}
.box-search_btnParceiro {
  display: flex;
  justify-content: space-between;
  width: 630px;
  align-items: center;
}
.box-btn_cad_parceiro{
  display: flex;
}
.ul_btn_parceiros {
  display: flex;
  width: 100px;
  margin-right: 0;
}
.li_btn_parceiros a {
  display: inline-block;
  text-align: center;
}
.link_btn_parceiros{
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  margin: 0px;
  padding: 4px 15px;
  color: black;
  font-weight: bold;
  width: 60px;
  border-radius: 10px;
  background-color: #48e5c2;
  box-shadow: 3px 3px 8px;


}
.link_btn_parceiros:hover {
  font-weight: bold;
  color: black;
  background-color: #6effe0;
}
#parceiros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 130px;
}
#doadores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 130px;
}
#usuarios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 130px;
}
#contatos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 130px;
}
.home-info {
  display: flex;
  border: solid 2px #48e5c2;
  width: 650px;
  height: 130px;
}
.home-info:hover {
  & .box-nome {
    background-color: #48e5c2;
  }
  & .box-descricao {
    background-color: white;
  }
  & #nome {
    color: white;
  }
}
.box-nome {
  width: 250px;
  height: 130px;
  display: flex;
}
.box-descricao {
  width: 400px;
  height: 130px;
  background-color: #48e5c2;
}

/* pagina contato */
.contato {
  display: flex;
  background-color: #48e5c2;
  width: 100vw;
  height: 300px;
  text-align: right;
  justify-content: space-evenly;
  margin-top: 120px;
  align-items: center;
}
.sub-contato {
  width: 80%;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#select-contatos {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* pagina doador */
.box-doador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 5px 6px 8px;
}
.box-img-nome-doador {
  display: flex;
}
.link_doadores{
  text-decoration: none; 
  color: black;
  width: 100%;
}

/* pagina cadastro de doações */
.field_cadDoacoes {
  border: #a0a0a0 solid 2px;
  width: 975px;
  height: 480px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(158, 255, 245, 0.4);
}
.box1-cadDoacoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
}
.box2-cadDoacoes {
  width: 100%;
  height: 70px;
  align-content: center;
}
.box3-cadDoacoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 230px;
}
.box-img_cadDoacoes {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 200px;
  height: 230px;
}
.box-img_into_cadDoacoes {
  display: flex;
  width: 200px;
  height: 200px;
  border: #3c3c3c solid 1px;
  border-radius: 10px;

  & p {
    margin: auto;
  }
}
.box-conjun_desc_sex_tam {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 230px;
}
.box-desc_cadDoacoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.box-sex_quant_tam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
.box-sexo_cadDoacoes,
.box-quant_cadDoacoes,
.box-tam_cadDoacoes {
  align-content: center;
}
.box4-cadDoacoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: end;
}

/* pagina cadastro de parceiros */
.field_cadParceiro {
  border: #a0a0a0 solid 2px;
  width: 955px;
  height: 550px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(158, 255, 245, 0.4);
}
.box1-cadParceiro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  align-items: center;
}
.box-cnpj_nome_cadParceiro {
  width: 800px;
  height: 150px;
}
.box-cnpj_cadParceiro,
.nome_cadParceiro {
  height: 70px;
}
.box-img_cadParceiro {
  width: 130px;
  height: 150px;
}
.img_into_cadParceiro {
  display: flex;
  width: 130px;
  height: 130px;
  border: solid 1px #3c3c3c;
  border-radius: 10px;

  & p {
    margin: auto;
  }
}
.box-cep_tipo_cadParceiro {
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin-top: 10px;
}
.cep_cadParceiro,
.tipo_cadParceiro,
.logradouro_cadParceiro,
.numero_cadParceiro,
.bairro_cadParceiro,
.cidade_cadParceiro,
.uf_cadParceiro,
.email_cadParceiro,
.celular_cadParceiro {
  align-content: center;
}
.box-logradouro_numero_cadParceiro,
.box-bairro_cidade_uf_cadParceiro,
.box2-cadParceiro {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
.box3-cadParceiro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: end;
}

/* pagina lista de doações de doadores */
.box-doador_parceiro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: solid 1px black;
}
.box-img-nome-doador_parceiro{
    display: flex;
}
#box-info1-doador_parceiro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 200px;
}
#box-info2-doador_parceiro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.box-statu_data_doacoes{
  display: flex;
  justify-content: space-between;
}


/* Dimencionamento para a borda da pagina cadastro de doaçoes */
@media (max-width: 1110px) {
  .box-content {
    width: 100%;
  }
}

/* Dimencionamento para a borda da pagina home */
@media (max-width: 980px) {
  /* pagina home / parceiro*/
  .box-home {
    width: 100%;
    height: 550px;
  }
  .box-content {
    width: 100%;
    margin: auto;
  }
  .sub-contato {
    width: 100%;
  }
  /* pagina cadastro doações */
  .field_cadDoacoes {
    width: 745px;
    height: 500px;
  }
  /* pagina cadastro de doações */
  .box-conjun_desc_sex_tam {
    width: 530px;
  }

  /* cadastro de parceiros */
  .field_cadParceiro {
    width: 745px;
    height: 550px;
  }
  .box-cnpj_nome_cadParceiro {
    width: 500px;
    height: 150px;
  }
}

/* Dimencionamento para telas de tablets */
@media (min-width: 481px) and (max-width: 769px) {
  /* box principal de toda a pagina */
  .full-screen {
    width: 100vw;
    height: 100vh;
  }
  /* pagina principl de conteudos */
  .box-content {
    width: 100%;
  }

  /* box de parceiros da pagina parceiros */
  #box {
    width: 200px;
    height: 220px;
  }

  /* localidade em cada box dos parceiros da pagina parceiros */
  #descricao {
    width: 200px;
    height: 20px;
    font-size: 12px;
  }

  /* Pagina home / parceiro */
  .box-search_btnParceiro {
    flex-direction: column;
    width: 400px;
    align-items: baseline;
  }
  
  .link_btn_parceiros{
    font-size: 12px;
    padding: 3px 12px;
  }
  .box-home {
    width: 100%;
  }
  .box-nome {
    width: 160px;
    height: 100px;
  }
  .box-descricao {
    width: 250px;
    height: 100px;
  }
  #parceiros,
  #contatos,
  #usuarios,
  #doadores {
    height: 100px;
  }
  .home-info {
    width: 410px;
    height: 100px;
  }

  /* pagina doador */
  .box-doador {
    height: 80px;
  }
  /* rodape */
  footer {
    display: flex;
    height: 70px;
    & p{
      margin: auto;
    }
  }

  /* pagina de contatos */
  .sub-contato {
    width: 100%;
    height: 100px;
  }

  /* pagina dacastro de doações */
  .field_cadDoacoes {
    width: 520px;
    height: 400px;
  }
  .box1-cadDoacoes,
  .box2-cadDoacoes {
    height: 70px;
  }
  .box3-cadDoacoes {
    height: 180px;
  }
  .box4-cadDoacoes {
    height: 50px;
  }
  .box-img_cadDoacoes {
    width: 150px;
    height: 170px;
  }
  .box-img_into_cadDoacoes {
    width: 150px;
    height: 150px;

    & p {
      margin: auto;
    }
  }
  .box-conjun_desc_sex_tam {
    width: 360px;
    height: 180px;
  }
  .box-desc_cadDoacoes {
    height: 110px;
  }
  .box-sexo_cadDoacoes,
  .box-tam_cadDoacoes,
  .box-quant_cadDoacoes {
    align-content: center;
  }

  /* pagina de cadastro de Parceiros */
  .field_cadParceiro {
    width: 520px;
  }
  .box-cnpj_nome_cadParceiro {
    width: 380px;
    height: 150px;
  }
  .box-img_cadParceiro {
    width: 130px;
    height: 150px;
  }
  .img_into_cadParceiro {
    display: flex;
    width: 130px;
    height: 130px;
    border: solid 1px #3c3c3c;
    border-radius: 10px;

    & p {
      margin: auto;
    }
  }
  .box-cep_tipo_cadParceiro {
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 10px;
  }
  .cep_cadParceiro,
  .tipo_cadParceiro,
  .logradouro_cadParceiro,
  .numero_cadParceiro,
  .bairro_cadParceiro,
  .cidade_cadParceiro,
  .uf_cadParceiro,
  .email_cadParceiro,
  .celular_cadParceiro {
    align-content: center;
  }
  .box-logradouro_numero_cadParceiro,
  .box-bairro_cidade_uf_cadParceiro,
  .box2-cadParceiro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
  }
  .box3-cadParceiro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: end;
  }

  /* pagina lista de doações de doadores */
.box-doador_parceiro{
  height: 150px;
}
.box-img-nome-doador_parceiro{
  display: flex;
}
#box-info1-doador_parceiro{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 190px;
height: 150px;
}
#box-info2-doador_parceiro{
height: 150px;
}
}

/* Dimencionamento para telas de celulares */
@media (max-width: 480px) {
  /* pagina principl de conteudos */
  .box-content {
    width: 100%;
  }

  /* box pai de conteudo pagina home */
  .flexHome-main {
    margin: auto;
  }
  /* box filho de conteudo pagina home */
  .box-main {
    width: 100vw;
    gap: 20px;
  }
  /* box de parceiros da pagina home */
  #box {
    width: 100px;
    height: 120px;
  }

  /* localidade em cada box dos parceiros da pagina home */
  .box-search_btnParceiro {
    flex-direction: column;
    width: 300px;
    align-items: baseline;
  }
  
  .link_btn_parceiros{
    font-size: 12px;
    padding: 3px 12px;
  }
  #descricao {
    width: 100px;
    height: 20px;
    padding-left: 10px;
    font-size: 8px;
  }
  .box-home {
    width: 100%;
    height: 500px;
  }
  .box-imagem {
    width: 80px;
    height: 80px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  .box-nome {
    width: 100px;
    height: 80px;
  }
  .box-descricao {
    width: 150px;
    height: 80px;
  }
  #parceiros,
  #doadores,
  #usuarios,
  #contatos {
    height: 80px;
  }
  .home-info {
    width: 250px;
    height: 80px;
  }

  /* pagina doador */
  .box-doador {
    height: 60px;
  }

  /* rodape */
  footer {
    display: flex;
    height: 50px;
    & p{
      margin: auto;
    }
  }
  .sub-contato {
    width: 100%;
    height: 90px;
  }
  /* pagina lista de doações de doadores */
.box-doador_parceiro{
  height: 100px;
}
.box-img-nome-doador_parceiro{
  display: flex;
}

}
